<html>

<head>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
</head>

<body>
  <div class="content">
    <div class="superior">
      <div class="banner">
        <div class="container-top">
          <div class="logo">

            <div class="subtitle-top">
              <p>Programe-se para aprender!</p>
            </div>
            <div class="title-logo">
              <p>&#60;/CONHECIMENTO LIVRE&#62;</p>
            </div>
            <div class="subtitle-bottom">
              <p>Cursos de programação gratuitos.</p>
            </div>
          </div>
        </div>
        <div class="container-bottom">
          <input class="search" type="text" placeholder="Procurar">
        </div>
      </div>
    </div>
    <div class="meio">
      <p class="title">Cursos em destaque:</p>
    </div>
    <div class="inferior">
      <ul>
        {{#allContents}}
        <li class="carousel-visible"><a class='link' href="/content/{{ _id }}">{{ title }}</a>1</li>
        {{/allContents}}
        {{#allContents}}
        <li class="carousel-visible"><a class='link' href="/content/{{ _id }}">{{ title }}</a>1</li>
        {{/allContents}}
        {{#allContents}}
        <li class="carousel-visible"><a class='link' href="/content/{{ _id }}">{{ title }}</a>1</li>
        {{/allContents}}
        {{#allContents}}
        <li class="carousel-invisible"><a class='link' href="/content/{{ _id }}">{{ title }}</a>2</li>
        {{/allContents}}
        {{#allContents}}
        <li class="carousel-invisible"><a class='link' href="/content/{{ _id }}">{{ title }}</a>2</li>
        {{/allContents}}
        {{#allContents}}
        <li class="carousel-invisible"><a class='link' href="/content/{{ _id }}">{{ title }}</a>2</li>
        {{/allContents}}
      </ul>
      <i><input id="clickMe" type="button" value="clickme" onclick="doFunction();" /></i>
    </div>
  </div>
  <script>
  document.getElementById("clickMe").onclick = function () {

    let list = document.querySelectorAll("li");

    for (let i = 0; i < list.length; ++i) {
      list[i].classList.toggle('carousel-invisible')
      list[i].classList.toggle('carousel-visible')
    }
  };
  </script>
</body>
</html>
